---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import '../../../css/base.css';
import { SITE_CONF } from '../../../config';

const color = SITE_CONF.themeColor|| "#60a5ff";
export async function getStaticPaths() {
  const allWorks = await getCollection('log');
  
  const uniqueTags = [...new Set(allWorks.map((work) => work.data.tags).flat())];

  return uniqueTags.map((tag) => {
    // そのタグが含まれる作品だけに絞り込む
    const filteredWorks = allWorks.filter((work) => 
      work.data.tags.includes(tag)
    ).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    return {
      params: { tag },
      props: { works: filteredWorks },
    };
  });
}

const { tag } = Astro.params;
const { works } = Astro.props;

const ogImage = SITE_CONF.ogImage || '/og-demo.jpg';
const base = Astro.site ?? Astro.url;
const absoluteOgImage = new URL(ogImage, base);
---


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:title" content={SITE_CONF.siteTitle} />
		<meta property="og:description" content={SITE_CONF.description} />
		<meta property="og:image" content={absoluteOgImage} />
		<meta property="og:url" content={Astro.site} />
		<meta property="og:type" content="article" />
		<meta name="twitter:card" content="summary_large_image" />
		<title>{tag}</title>
    </head>
    <body>
        <style define:vars={{ color }}>
			html {
				background-color: var(--color);
			}
		</style>
        <div class="wrapper">
            <div class="work-post">
                <h3 class="h3-a">- {tag} -</h3>
                <div class="work-post-main">
                    {works.map((work) => (
                        <div class="post-item">
                            <a class="btn" href={`/log/${work.id}`}><Image src={work.data.cover} alt="サムネイル画像"/></a>
                        </div>
                    ))}
                </div>
                <div class="post-footer">
                    <a href="/">Home</a>
                </div>
            </div>
        </div>
    <script>
        import MiniMasonry from 'minimasonry';

        window.addEventListener('load', () => {
            const masonry = new MiniMasonry({
            container: '.work-post-main', 
            baseWidth: 400,
            gutter: 20,
            surroundingGutter: true,
            minify: true, 
            });
        });
    </script>
    </body>
</html>