---
import '../css/base.css';
import { SITE_CONF } from '../config';

const color = SITE_CONF.themeColor || "#60a5ff";

const ogImage = SITE_CONF.ogImage || '/og-demo.jpg';
const base = Astro.site ?? Astro.url;
const absoluteOgImage = new URL(ogImage, base);
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
        <meta property="og:title" content={SITE_CONF.siteTitle} />
		<meta property="og:description" content={SITE_CONF.description} />
		<meta property="og:image" content={absoluteOgImage} />
		<meta property="og:url" content={Astro.site} />
		<meta property="og:type" content="article" />
		<meta name="twitter:card" content="summary_large_image" />
		<title>404 | {SITE_CONF.siteTitle}</title>
    </head>
    <body>
        <style define:vars={{ color }}>
			html {
				background-color: var(--color);
			}

            .work-post .post-tags {
                margin: 15px 0;
            }

            .work-post .post-tags li {
                background-color:var(--color);
                font-size: 14px;
                margin: 0;
                padding: 10px;
                border-radius: 12px;
                color: #fff;
            }

            h1{
                text-align: center;
                font-size: 44px;
            }

            .box {
                margin: 30px 0;
                text-align: center;
            }

            .topbtn {
                color: #444;
            }
		</style>
        <div class="wrapper">
            <div class="work-post">
                <h1>404</h1>
                <div class="box">
                    <p>お探しのページは見つかりませんでした。<br>URLをご確認いただくか、トップページへお戻りください。</p>
                    <a href="/" class="topbtn">Home</a>
                </div>
            </div>
        </div>
    </body>
</html>