---
import { Icon } from "astro-icon/components";
import { SITE_CONF } from '../config';

const color = SITE_CONF.themeColor || "#60a5ff";
---

<ul>
    {SITE_CONF.sns.x && (<li><a href={SITE_CONF.sns.x}><Icon name="simple-icons:x" /></a></li>)}
    {SITE_CONF.sns.bluesky && (<li><a href={SITE_CONF.sns.bluesky}><Icon name="simple-icons:bluesky" /></a></li>)}
    {SITE_CONF.sns.instagram && (<li><a href={SITE_CONF.sns.instagram}><Icon name="simple-icons:instagram" /></a></li>)}
    {SITE_CONF.sns.pixiv && (<li><a href={SITE_CONF.sns.pixiv}><Icon name="simple-icons:pixiv" /></a></li>)}
    {SITE_CONF.sns.pinterest && (<li><a href={SITE_CONF.sns.pinterest}><Icon name="simple-icons:pinterest" /></a></li>)}
    {SITE_CONF.sns.youtube && (<li><a href={SITE_CONF.sns.youtube}><Icon name="simple-icons:youtube" /></a></li>)}

</ul>

<style define:vars={{ color }}>
    ul {
        margin: 10px 0;
        display: flex;
    }

    ul li {
        margin-right: 10px;
    }

    ul li a:hover svg{
        transform: translateY(-5px) scale(1.01);
    }

    ul li a svg {
        height: 20px;
        width: 20px;
        color: var(--color);
    }
</style>